@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSans-1";
  src: url("../fonts/IRANSansX-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

